<%- include('header') %> 
<script src="/scripts/ageModifiers.js"></script>
<div class="mx-auto align-item-center" style="width: 70%">
  <h1>Age Modifiers</h1>
  <div class="row">
    <div class="col-auto">
      <label class="col-form-label charLabel">Age</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control shadow-none" readonly value="<%= sheet.basicInfo.age %>">
    </div>
  </div>


  <br>


  <div class="row d-none" id="strMod">
    <div class="col-auto">
      <label class="col-form-label charLabel">STR</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control shadow-none" readonly value="<%= sheet.characteristics.strength %>">
    </div>
  </div>

  <div class="row d-none" id="conMod">
    <div class="col-auto">
      <label class="col-form-label charLabel">CON</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control shadow-none" readonly value="<%= sheet.characteristics.constitution %>">
    </div>
  </div>

  <div class="row d-none" id="sizMod">
    <div class="col-auto">
      <label class="col-form-label charLabel">SIZ</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control shadow-none" readonly value="<%= sheet.characteristics.size %>">
    </div>
  </div>

  <div class="row d-none" id="dexMod">
    <div class="col-auto">
      <label class="col-form-label charLabel">DEX</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control shadow-none" readonly value="<%= sheet.characteristics.dexterity %>">
    </div>
  </div>

  <div class="row d-none" id="appMod">
    <div class="col-auto">
      <label class="col-form-label charLabel">APP</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control shadow-none" readonly value="<%= sheet.characteristics.appearance %>">
    </div>
  </div>

  <div class="row" id="eduMod">
    <div class="col-auto">
      <label class="col-form-label charLabel">EDU</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control shadow-none" readonly value="<%= sheet.characteristics.education %>">
    </div>
  </div>

  <div class="row d-none" id="luckReroll">
    <div class="col-auto">
      <label class="col-form-label charLabel">Luck</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control shadow-none" readonly value="<%= sheet.secondaryAttributes.luck %>">
    </div>
  </div>
  <script>    
    displayCharsToModify(<%- JSON.stringify(sheet) %>);
  </script>
</div>

<%- include('footer') %> 